* {
  box-sizing: border-box;
}

@media (max-width: 1920px){

}


@media (min-width: 1920px){

}


header{
  display: flex;
  padding: 9px 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #DFDFDF;
  background: #FFFFFF;
  position: sticky;
  top:0;
  left: 0;
  width: 100%;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.logo__link{
  display: flex;
  width: 153px;
  height: 51px;
  padding: 5.017px 0 5.848px 0;
  justify-content: center;
  align-items: center;
  gap: 8.592px;
  text-decoration: none;
}
.logo img{
  width: 40px;
  height: 40.135px;
  flex-shrink: 0;
}
.logo__text{
  color: #3692FF;
  font-family: "ROKAF Sans";
  font-size: 25.633px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn_small{
  border-radius: 8px;
  background: var(--Primary-100, #3692FF);
  display: flex;
  width: 128px;
  height: 48px;
  padding: 12px 23px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  white-space: nowrap;
}

body{
  margin:0;
}

/* 세션스타일 */
section{
  width: 100%;
  min-height: 540px;
  display: flex;
  justify-content: center;   
  align-items: center;
}

.section__1,
.section__5{
  background: #CFE5FF;
}

/* h3스타일 */

h3 {
  color: #374151;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;  
  white-space: nowrap;
}

.section__2 h3 ,
.section__3 h3 ,
.section__4 h3 {
  letter-spacing: 0.8px;
}

section .main{
  display: flex;
  width: 100%;
  max-width: 1920px;
  min-width: 0;
  margin: 0 auto; 
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  padding: 143px 405px;
  gap: 64px;
  background: #FCFCFC;
}

.section__1 .main{  
  gap: 7px;
  padding: 200px 0 0;  
  background: #CFE5FF;
}

.section__5 .main{  
  background: #CFE5FF;
}

.section__1 .main__text{
  display: flex;
  padding-bottom: 60px;
  min-width: 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}
.section__1 img{
  display: flex;
  width: 746px;
  min-width: 0;
  height: 340px;
  padding-right: 0;
}

.section__1 .main .main_text,
.section__1 .main img {
  min-width: 0;            
  max-width: 100%;          
}
.section__1 .btn_large{
  display: flex;
  height: 56px;
  padding: 16px 124px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: var(--brand-blue, #3692FF);
  text-decoration: none;
  white-space: nowrap;
}
/* 두번쨰 페이지 */
.section__2 .main__text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.section__2 img{
  display: flex;
  width: 588px;
  height: 444px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.section__2 h5{
  color: var(--Secondary-700, #374151);
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.section__2 h6{
  color: var(--Primary-100, #3692FF);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; 
}

/* 세번쨰 페이지 */

.section__3 .main__text{
color: var(--Primary-100, #3692FF);

/* pretendard/2lg-18px-bold */
font-family: Pretendard;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 144.444% */
}
.section__3 img{
  width: 588px;
  height: 444px;
  flex-shrink: 0;
}

.section__3 h5{
  color: var(--Secondary-700, #374151);
  text-align: right;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; 
}

.section__3 h6{
  color: var(--Primary-100, #3692FF);
  text-align: right;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
}

/* 네번쨰 페이지 */

.section__4 .main__text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.section__4 img{
  display: flex;
  width: 588px;
  height: 444px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.section__4 h5{
  color: var(--Secondary-700, #374151);
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.section__4 h6{
  color: var(--Primary-100, #3692FF);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; 
}

/* 다섯번쨰 페이지 */

.section__5 img{
  display: flex;
  width: 746px;
  height: 397px;
  justify-content: center;
  align-items: center;
}


footer{
  display: flex;
  width: 100%;
  height: 160px;
  padding: 32px 200px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background: var(--Secondary-900, #111827);
}
footer .footer__main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
footer .footer__center{
  display: flex;          
  gap: 20px;              
  justify-content: center; 
  align-items: center;
}
footer a, h6{
  color: var(--Secondary-400, #9CA3AF);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  white-space: nowrap;
}

.ic_facebook, 
.ic_twitter, 
.ic_youtube,
.ic_instagram{
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.ic_facebook{
  background-image: url(/img/ic_facebook.png);
}
.ic_twitter{
  background-image: url(/img/ic_twitter.png);
}
.ic_youtube{
  background-image: url(/img/ic_youtube.png);
}
.ic_instagram{
  background-image: url(/img/ic_instagram.png);
}