@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

@font-face {
  font-family: "ROKAF-Sans";
  src:
    url("/common/font/ROKAF.woff2") format("woff2"),
    url("/common/font/ROKAF.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
