.button-go,
.button-login {
  cursor: pointer;
  white-space: nowrap;
}

/* 헤더 바깥 영역 */
header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  position: sticky;
  top: 0;
  background-color: #fff;
}

/* 헤더 내부 영역 */
.header-info {
  display: flex;
  justify-content: space-between;

  align-items: center;
  height: 4.375rem;
  padding: 0.5625rem 12.5rem;

  align-self: stretch;
  width: 100%;
  max-width: 120rem;
}

.header-logo {
  display: flex;
  width: 9.5625rem;
  height: 3.1875rem;
  padding: 0.3136rem 0 0.3655rem 0;
  justify-content: center;
  align-items: flex-end;
  gap: 0.537rem;

  color: #3692ff;
  font-family: "ROKAF Sans", sans-serif;
  font-size: 1.602rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  white-space: nowrap;
}

.header-logo > img {
  width: 2.5rem;
  height: 2.5084rem;
  flex-shrink: 0;
}

.button-login {
  display: flex;
  width: 8rem;
  height: 3rem;
  padding: 0.75rem 1.4375rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  border-radius: 0.5rem;
  border: none;
  background: var(--Primary-100, #3692ff);

  color: var(--Cool-Gray-100, #f3f4f6);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.625rem;
}
