.card {
  max-width: 988px;
  max-height: 444px;
  margin: 138px auto;
  background-color: #fcfcfc;
  white-space: nowrap;
}

.card:nth-of-type(odd) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 64px;
}

.card:nth-of-type(even) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 64px;
}

.card:nth-of-type(even) > .card-text {
  align-items: flex-end;
  text-align: right;
}

.cardImage {
  max-width: 588px;
  max-height: 444px;
}

.cardImage > img {
  width: 100%;
  height: 100%;
}

.cardText {
  max-width: 400px;
  max-height: 444px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.card-text > h2,
.card-text > p {
  display: inline-block;
}

.cardText > h2 {
  display: inline-block;
  color: var(--color-primary-blue100);
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.cardTextAndTitle {
  margin-top: 12px;
  color: var(--color-secondary-gray700);
  font-family: Pretendard;
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.8px;
}

.cardTextDesc {
  margin-top: 24px;
  color: var(--color-secondary-gray700);
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

hr {
  opacity: 0;
}
