footer {
  height: 10rem;
  background-color: #111827;
  display: flex;
  padding: 2rem 12.5rem 6.75rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 140px;
}
footer div {
  flex-shrink: 0;
}
footer .copyright {
  width: 7rem;
  height: 1.1875rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #9ca3af;
}
footer .policy {
  /* border: 1px solid #fff; */
  display: flex;
  gap: 1.875rem;
}
footer .policy a {
  color: #e5e7eb;
  text-decoration: none;
}
footer .sns {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 7.25rem;
  height: 1.25rem;
  /* border: 1px solid #fff; */
}
footer .sns a {
  width: 1.25rem;
}
/* footer .sns a img{
  border: 1px solid #fff;
  width: 20px;
  height: 20px;
} */