.max-width {
  max-width: 192rem;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  padding: 0.9rem 20rem;
  background: var(--color-white);
  border-bottom: 0.1rem solid var(--color-gray);
}
.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  flex-shrink: 0;
}
.header__logo img {
  width: 15.3rem;
  height: 5.1rem;
}
.header__login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 1.2rem 2.3rem;
  width: 12.8rem;
  height: 4.8rem;
  background: var(--color-primary-100);
  color: var(--color-gray-100);
  border-radius: 0.8rem;
}
