/* 강한공군체 Embed코드를 찾을 수 없고, style.css파일에 넣기 거추장해서 따로 만든 파일입니다 */

@font-face {
  font-family: "ROKAF Sans";
  src: url("./fonts/ROKAF\ Sans\ Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ROKAF Sans";
  src: url("./fonts/ROKAF\ Sans\ Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "ROKAF Slab Serif";
  src: url("./fonts/rokaf-slab-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ROKAF Slab Serif";
  src: url("./fonts/rokaf-slab-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-100: #3692ff;
  --primary-200: #1967d6;
  --primary-300: #1251aa;
  --primary-background: #cfe5ff;

  --error-red: #f74747;

  --gray-900: #111827;
  --gray-800: #1f2937;
  --gray-700: #374151;
  --gray-600: #4b5563;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-50: #f9fafb;
}