/* Josh Comeau의 블로그 참고 */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. 박스 크기 모델 */
/* Universal Selector = 전체 선택자 */
/* 페이지에 있는 모든 실제 요소와, 모든 요소가 가질 수 있는 가상요소까지 전부 box-sizing: border-box 속성을 적용합니다. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. 기본 여백 제거 */
/* :not() = 부정 선택자 */
/* 부정 선택자는 (괄호) 안에 넣은 조건에 해당하지 않는 요소를 골라냅니다. 따라서 "모든 요소를 선택하되, dialog 요소는 제외하라"라는 의미를 가집니다. */
*:not(dialog) {
  margin: 0;
}

/* 3. 키워드 애니메이션 활성화 */
/* @media = 미디어 쿼리 */
/* 미디어 쿼리는 "특정 조건을 만족할 때만 (괄호) 안의 CSS를 적용하라"라는 의미를 가집니다. */
/* 흔하게 화면 너비를 체크할 때 사용하지만, 화면 크기 뿐 아니라 사용자의 시스템 설정도 감지할 수 있습니다. */

/* prefers-reduced-motion: no-preference */
/* 사용자가 애니메이션(움직임) 최소화를 요청했는지 체크하는 조건입니다. 맥OS나 윈도우 설정에 "동작 줄이기"와 같은 접근성 옵션이 있어요. 어지럼증이나 전정기관에 문제가 있는 분들이 화면의 움직임을 최소화 하기 위해 사용합니다. */
/* no-preference 값은 사용자가 애니메이션을 줄이는 설정을 하지 않았다는걸 의미합니다. 따라서 "사용자가 애니메이션 최소화를 요청하지 않았을 때만, 이 안의 스타일을 적용하라"라는 의미를 가집니다. */

/* interpolate-size: allow-keywords, 2025년 3월 기준 크롬과 엣지에서만 지원, 비교적 최근에 생긴 새로운 CSS 속성 */
/* 원래 CSS에서는 숫자값에서 auto와 같은 키워드 값으로 부드럽게 애니메이션을 전환하는게 불가능했습니다. 그래서 개발자들은 이 문제를 해결하기 위해 JS로 실제 높이를 계산해서 억지로 애니메이션을 넣는 편법을 자주 사용했죠. */
/* 하지만 이제, interpolate-size: allow-keywords를 html 태그에 설정해두면, 이 기능이 페이지 전체에 걸쳐 자동으로 적용돼서 숫자 <-> auto 같은 키워드 사이의 부드러운 애니메이션 전환을 브라우저 차원에서 가능하게 합니다. */
/* 사용자가 애니메이션 동작을 줄여달라고 하지 않았을 때에만 이 기능이 켜질 수 있도록, 접근성 설정을 존중하면서도 애니메이션을 원하는 사용자에게는 더 나은 경험을 제공하려는 세심한 배려를 위해 아래와 같은 코드를 작성합니다. */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* 4. 줄 간격 늘리기 */
/* 단락 내 각 줄 사이의 세로 간격을 조절합니다. 일반적으로 브라우저의 기본 line-height값은 1.2 정도인데, 이는 글자 크기의 1.2배 만큼 줄 간격을 준다는 의미에요. */
/* 다만 문제는, 줄 간격이 너무 좁으면 텍스트를 읽기 어려워진다는 점입니다. 특히 난독증이 있는 분들에게는 더 큰 영향을 줘요. 그래서 본문 텍스트는 1.5의 줄 높이를 가질 수 있도록 값을 설정했어요. */
/* 물론 제목(h1~h6)에처럼 글자가 큰 요소에 그대로 적용하면, 줄 간격이 과하게 넓어보이는 문제가 생길 수 있어요. 그래서 이러한 경우에는 더 작은 줄 높이 설정을 따로 지정하는 방법을 사용해요. 다만 그 값은 프로젝트 디자인마다 다르기 때문에 여기에는 포함시키지 않았습니다. */
body {
  line-height: 1.5;
}

/* 5. 텍스트 렌더링 개선 */
/* 맥OS 컴퓨터에서 과거에는 기본적으로 "서브픽셀 안티앨리어싱"이라는 방식으로 텍스트를 그렸습니다. 당시에는 이 기능이 텍스트 대비를 높여줘서 가독성에 도움이 된다고 여겨졌지만. 고해상도 디스플레이가 보편화 된 지금은 더이상 그 효과가 유효하지 않다는 결론을 내렸어요. */
/* 그래서 애플도 2018년 맥OS Mojave를 기준으로 운영체제 전체에 걸쳐 "서브픽셀 안티앨리어싱" 기능을 꺼버렸습니다. 하지만 안타깝게도 맥OS에서 돌아가고 있는 크롬이나 사파리 같은 브라우저들이 여전히 서브픽셀 안티엘리어싱을 기본값으로 쓰고 있다는 문제가 있었어요. 그래서 우리가 명시적으로 "서브픽셀 안티앨러어싱" 기능을 중단시키고, "픽셀 전체 단위" 방식으로 텍스트를 그리도록 지정했습니다. */
/* 참고로 이 속성은 맥OS에서만 효과가 있고, 윈도우나 리눅스, 모바일 기기에서는 아무런 영향을 주지 않습니다. */
body {
  -webkit-font-smoothing: antialiased;
}

/* 6. 미디어 기본 설정을 개선하세요 */
/* 일반적으로 개발자들이 아래의 요소를 사용할 대는 인라인 요소가 아니라 블록 요소로 바꾸어 레이아웃을 만들어 나갑니다. 그래서 모든 이미지를 기본적으로 block 스타일로 활성화하도록 설정함으로써 여러 까다로운 문제를 피할 수 있습니다. */
/* 이미지와 같은 미디어 요소는 "대체 요소"라서 일반 블록 요소와 다릴 부모보다 커도 자동으로 줄어들지 않는다는 점 때문에, max-width: 100%를 통해 부모 컨테이너보다 커지는 문제를 함께 막아줍니다. */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. 폼 컨트롤에 글꼴 상속 적용 */
/* CSS의 또 하나 이상한 점은, 기본적으로 버튼과 입력 필드는 부모 요소의 글꼴 스타일을 상속받지 않는다는 점입니다. 대신 자체적인 특이한 스타일을 가지고 있죠. */
/* 유감스럽게도 이는 불편함을 야기하며, 우리가 font-size값을 최소 1rem 이상으로 설정하여 문제를 해결해야만 하는데, 사실 이는 임시 방편일 뿐입니다. */
/* 그래서 근본적인 원인이 되는 폼 입력 필드에서 자체적인 글꼴 스타일이 적용되지 않도록 하는 방법을 선택했습니다. font 속성은 여러 하위 속성을 한번에 지정하는 단축 속성으로 font-style, font-variant, font-weight, font-stretch, font-size, line-height, font-family까지 모두 포함합니다. */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. 텍스트 넘침을 방지하세요 */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. 줄바꿈 개선 */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* 여기서부터는 내가 직접 추가한 속성들 */
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
