* {
  box-sizing: border-box;
}

:root {
  --Secondary-900: #111827;
  --Secondary-800: #1f2937;
  --Secondary-700: #374151;
  --Secondary-400: #9ca3af;
  --Secondary-200: #e5e7eb;
  --Cool-Gray-100: #f3f4f6;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: Pretendard, sans-serif;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
