:root {
  --primary-color-100: #3692ff;
  --primary-color-200: #1967d6;
  --primary-color-300: #1251aa;
  --secondary-color-50: #f9fafb;
  --secondary-color-100: #f3f4f6;
  --secondary-color-200: #e5e7eb;
  --secondary-color-400: #9ca3af;
  --secondary-color-700: #374151;
  --secondary-color-900: #111827;
  --font-size-big: 2.5rem;
  --font-size-small: 1.5rem;
  --font-weight-big: 700;
  --font-weight-small: 500;
  --border-radius: 0.5rem;
  --bg-color: #cfe5ff;
}

button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

h1 {
  color: var(--secondary-color-700);
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-big);
  line-height: 140%;
  letter-spacing: 0.05rem;
}

a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.inner1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.56rem 12.5rem;
}

/* Header */
header {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
}

div.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.logo {
  width: 10rem;
}

a.btn {
  background-color: var(--primary-color-100);
  border-radius: var(--border-radius);
}

a.login {
  padding: 1rem 2.5rem;

  color: var(--secondary-color-100);
  font-size: 1rem;
  font-weight: 600;
}

/* Main */
section.main-visual {
  background-color: var(--bg-color);
  margin-top: 56px;
  display: flex;
}

.inner2 {
  width: 119rem;
  height: 33rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.main-title {
  align-self: center;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 80px;
}

section.main-visual h1 {
  color: var(--secondary-color-700);
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-big);
  margin-bottom: 40px;
  padding-right: 5rem;
  line-height: 3.6rem;
}

a.search {
  color: var(--secondary-color-50);
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1.2rem 5rem;
  border-radius: 9999px;
}
.inner2 .main-visual-img {
  width: 46rem;
  height: 21rem;
}

/* Section */
.inner3 {
  margin: 15rem auto;
  width: 62rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-around;
  background-color: #fcfcfc;
}

.inner3 img {
  width: 36.75rem;
  height: 27.75rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.content h1 {
  margin-top: 1.4rem;
  margin-bottom: 1rem;
}

.hot-item {
  color: var(--primary-color-100);
  font-size: 1.125rem;
  font-weight: var(--font-weight-big);
}

section p {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-small);
  line-height: 2rem;
  color: var(--secondary-color-700);
}

/* Reverse */
section:nth-child(3) .inner3 {
  flex-direction: row-reverse;
  text-align: right;
}

/* Bottom */

.bottom {
  background-color: var(--bg-color);
  display: flex;
}

.bottom .inner2 {
  margin: 0 auto;
}
.bottom img {
  width: 46.625rem;
  height: 24.8125rem;
}

.bottom h1 {
  align-self: center;
  padding-top: 5rem;
}

/* Footer */
footer {
  background-color: var(--secondary-color-900);
}
footer .inner1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1rem;
  font-weight: 400;
  padding-top: 2.5rem;
  padding-bottom: 7rem;
}

footer p {
  color: var(--secondary-color-400);
  font-size: 1rem;
  font-weight: 400;
}

footer div {
  font-size: 1rem;
  font-weight: 400;
}

footer div a {
  margin-right: 2rem;
  color: var(--secondary-color-200);
  text-decoration: none;
}

footer ul {
  display: flex;
  color: #ffffff;
}

footer ul li {
  width: 1.125rem;
  height: 1.125rem;
  margin-left: 0.5rem;
}
