* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0%;
}
.navibar {
  display: flex;
  position: sticky;
  top: 0px;
  height: 70px;
  flex-direction: row;
  padding: 0 200px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dfdfdf;
  background: #fff;
}

.panda-title > a > h1 {
  color: #3692ff;
  font-family: "ROKAF Sans";
  /* font-size: 25.633px; */
  font-size: 1.602rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.panda-title > a {
  display: flex;
  gap: 8px;
  align-items: center;
}

.panda-title > img {
  width: 40px;
  height: 40.135px;
  flex-shrink: 0;
}

.login-button {
  display: flex;
  width: 128px;
  height: 48px;
  padding: 12px 23px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--Primary-100, #3692ff);
  color: var(--Cool-Gray-100, #f3f4f6);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  border: none;
  cursor: pointer;
}

.header,
.bottom {
  display: flex;
  flex-direction: row;
  height: 540px;
  justify-content: center;
  align-items: flex-end;
  background: #cfe5ff;
}

.header > div,
.bottom > div {
  display: flex;
  flex-direction: column;
  color: var(--Secondary-700, #374151);
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  width: 357px;
  height: 540px;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.header > div > a > button {
  display: flex;
  height: 56px;
  padding: 16px 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: var(--brand-blue, #3692ff);
  color: var(--Secondary-50, #f9fafb);
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  border: none;
  cursor: pointer;
}

.header img {
  display: flex;
  width: 746px;
  height: 340px;
  padding-right: 0;
  justify-content: center;
  align-items: center;
}

.sections {
  display: flex;
  height: 720px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.sections > img {
  width: 588px;
  height: 444px;
  border-radius: 12px;
  background: var(--Secondary-100, #f3f4f6);
}

.title {
  color: var(--Primary-100, #3692ff);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.subtitle {
  color: var(--Secondary-700, #374151);
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */
  letter-spacing: 0.8px;
}

.text {
  color: var(--Secondary-700, #374151);
  /* pretendard/2xl-24px-medium */
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}

.s1 {
  text-align: left;
}

.s2 {
  text-align: end;
}

.footer {
  height: 160px;
  background: var(--Secondary-900, #111827);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 32px 200px;
}

.footer > div {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

.footer .footer-icon {
  column-gap: 12px;
}

.footer p,
.footer a {
  display: flex;
  margin: 0%;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--Secondary-200, #e5e7eb);
}

.footer > p {
  color: var(--Secondary-400, #9ca3af);
}
