* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  height: 70px;
  margin: 9px 200px;
}

.top-left-design-own {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-left-design {
  display: flex;
  align-items: center;
  gap: 8.592px;
  flex: 0 0 auto;
}

.top-left-design img {
  width: 40px;
  height: 40px;
  display: block;
}

.top-left-text {
  color: #3692ff;
  font-family: "ROKAF Sans", sans-serif;
  font-size: 25.633px;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
}

.login-button {
  width: 128px;
  height: 48px;
  border-radius: 8px;
  background: #3692ff;
  color: #f3f4f6;
  border: none;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 600;
}

.login-button {
  padding: 12px 23px;
  cursor: pointer;
  flex: 0 0 auto;
}

.section1 {
  display: flex;
  background-color: #cfe5ff;
  justify-content: center;
  align-items: center;
}

.section1-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 200px 405px 0;
  gap: 7px;
}

.look-around-button {
  display: flex;
  border-radius: 40px;
  background: #3692ff;
  color: #f9fafb;
  border: none;
  cursor: pointer;
  white-space: nowrap;

  display: flex;
  height: 56px;
  padding: 16px 124px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 32px 0 60px;

  /* pretendard/xl-20px-semibold */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
}

.bold-text {
  color: var(--Secondary-700, #374151);
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */
}

.section1-2 {
  margin-bottom: 40px;
}

.section2 {
  padding: 138px 344px;
  background: #ffffff;
}

.section2-inbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FCFCFC;
}

.section2-inbox img {
  margin-right: 64px;
}

.blue-title-text {
  color: #3692ff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
}

.text {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}

.hot-item-check {
  margin: 0 0 24px;
}

.hot-item-text {
  margin: 0 0 12px;
}

.normal-text {
  color: #374151;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}
