* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  display: flex;
  margin: 0rem;
  padding: 14.4375rem 40rem 17.75rem 40rem;
  align-items: center;
  justify-content: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  width: 40rem;
}

body header {
  display: flex;
  align-items: center;
  gap: 1.375rem;
}

.logo > img {
  width: 6.4375rem;
  height: 6.4375rem;
}

header > span {
  font-family: "rokaf_sans_bold";
  font-size: 4.125rem;
  color: var(--brand-blue);
}

main {
  width: 100%;
}

.email-container,
.password-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

main > .password-container {
  position: relative;
}

.email-container > label,
.password-container > label {
  color: var(--Secondary-800);
  font-family: "Pretendard";
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.625rem;
}

#email,
#password {
  padding: 1rem 1.5rem;
  outline: none;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  background-color: var(--Cool-Gray-100);
  color: var(--Cool-Gray-800);
  font-family: "Pretendard";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

#email:focus,
#password:focus {
  border-color: var(--brand-blue);
}

#email::placeholder,
#password::placeholder {
  color: var(--Secondary-400);
}

.password-look {
  position: absolute;
  top: 3.75rem;
  right: 1.5rem;
}

.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.5rem;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 2.5rem;
  background-color: var(--Secondary-400);
  font-family: "Pretendard";
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2rem;
  color: var(--Cool-Gray-100);
}

.login-btn:hover,
.login-btn:focus {
  background-color: var(--brand-blue);
}

.sns-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding: 1rem 1.4375rem;
  border-radius: 0.375rem;
  background-color: #e6f2ff;
}

.sns-login > span {
  font-family: "Pretendard";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
  color: var(--Secondary-800);
}

.sns-logos {
  height: 2.625rem;
  display: flex;
  gap: 1rem;
}

.signup {
  display: flex;
  justify-content: center;
  gap: 4px;
  font-family: "Pretendard";
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--Secondary-800);
}

.signup > a {
  color: var(--brand-blue);
}
