* {
  box-sizing: border-box;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 231px 640px;
  gap: 40px;
}

.input-div {
  display: flex;
  gap: 24px;
  align-items: center;
  flex-direction: column;
}

.input-label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 18px;
  width: 640px;
  gap: 18px;
}

input {
  width: 640px;
  height: 56px;
  padding: 16px 24px;
  background-color: #f3f4f6;
  border-radius: 12px;
  border: 1px solid transparent;
  outline: none;
}

input:focus {
  border: 1px solid #3692ff;
}

input::placeholder {
  color: #9ca3af;
  font-weight: 400;
  font-size: 16px;
}

.password-div {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.password-check-icon {
  position: absolute;
  right: 16px;
}

.sigh-up-button {
  width: 640px;
  height: 56px;
  background-color: #9ca3af;
  border-radius: 40px;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  color: #f3f4f6;
  border: none;
}

.fast-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 640px;
  height: 74px;
  background-color: #e6f2ff;
  border-radius: 8px;
  padding: 16px 23px;
  border: none;
}

.sns-login {
  display: flex;
  align-items: center;
  gap: 16px;
}

.login-div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.login {
  font-weight: 500;
  font-size: 14px;
  color: #1f2937;
  white-space: nowrap;
  display: inline-block;
}

.go-login {
  font-weight: 500;
  font-size: 14px;
  color: #3692ff;
  text-decoration: underline solid;
  white-space: nowrap;
  display: inline-block;
}
