.listBody {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: auto;
}

.listGrid {
  display: grid;
  justify-content: space-between;
  gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.imageSize {
  border: none;
  outline: none;
  width: 221px;
  height: 221px;
  margin-bottom: 16px;
  border-radius: 8px;
}

.name {
  color: var(--Secondary-800, #1f2937);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 6px;
  width: fit-content;
}

.price {
  color: var(--Secondary-800, #1f2937);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 6px;
}

@media (max-width: 768px) {
  /* 테블릿 */
  .listGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .imageSize {
    width: 221px;
    height: 221px;
  }
}

@media (max-width: 480px) {
  /* 작은 폰 */
  .listGrid {
    grid-template-columns: 1fr 1fr;
  }

  .imageSize {
    width: 168px;
    height: 168px;
  }
}
