.container {
  position: relative;
}

.container button {
  position: relative;

  width: 130px;
  height: 42px;
  padding-left: 20px;

  border: 1px solid var(--color-secondary-200);
  border-radius: 12px;

  text-align: left;
  color: var(--color-secondary-800);
  background-color: white;

  cursor: pointer;
}

.container button .icn_pc {
  position: absolute;
  top: calc(50% - 14px);
  right: 20px;
}

.container ul {
  width: 130px;
  position: absolute;
  top: 50px;
  z-index: 1;

  border: 1px solid var(--color-secondary-200);
  border-radius: 12px;

  background-color: white;
}

.container li {
  height: 42px;
  border-bottom: 1px solid var(--color-secondary-200);

  font-size: var(--text-md);
  text-align: center;
  color: var(--color-secondary-800);
  line-height: 42px;
  cursor: pointer;
}

.container li:last-child {
  border: none;
}

.icn_mobile {
  display: none;
}

@media (max-width: 375px) {
  .icn_pc,
  .text_pc {
    display: none;
  }

  .icn_mobile {
    display: inline;
  }

  .container button {
    width: 42px;
    padding: 0px;
    text-align: center;
  }

  .container {
    text-align: right;
  }

  .container ul {
    right: 0;
  }
}
