/* 기본 스타일 (데스크탑 등 모든 화면에 적용) */
.allItems {
    /* width: 1200px;
    height: 674px; */
    display: grid;
    grid-template: repeat(2, minmax(221px, 1fr)) / repeat(5, minmax(317px, 1fr));
    gap: 24px 40px;
}

/* 화면 너비가 768px 이하일 때 (태블릿 이하) */
@media (max-width: 768px) {

}
/* 화면 너비가 480px 이하일 때 (모바일) */
@media (max-width: 480px) {
    
}
    