@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.body {
  width: 100%;
  padding: 26px 360px 162px 360px;
  animation: fadeIn 0.4s ease-out;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  & .title {
    color: var(--Secondary-800, #1f2937);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }

  & .registButton {
    display: flex;
    height: 42px;
    padding: 12px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: none;
    background: var(--Primary-100, #3692ff);
    color: var(--Cool-Gray-100, #f3f4f6);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
  }

  & .disableRegistButton {
    display: flex;
    height: 42px;
    padding: 12px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: none;
    background: var(--Cool-Gray-400, #9ca3af);
    color: var(--Cool-Gray-100, #f3f4f6);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
  }
}

.formBody {
  display: flex;
  flex-direction: column;
  & .labels {
    color: var(--Secondary-800, #1f2937);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 16px;
    margin-top: 24px;
  }

  & .inputs {
    display: flex;
    padding: 16px 24px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 12px;
    background: var(--Cool-Gray-100, #f3f4f6);
    border: none;
    height: 56px;
  }

  & .errorLabelsNone {
    display: none;
  }

  & .errorLabels {
    display: inline;
    margin-left: 16px;
    color: var(--error-red, #f74747);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }

  & .bigProductNameInput {
    height: 282px;
  }
}

.tagsBody {
    margin-top: 18px;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.tags {

  display: flex;
  flex-direction: row;
  height: 36px;
  width: fit-content;
  padding: 0 10px 0 15px;
  align-items: center;
  gap: 10px;
  border-radius: 26px;
  background: var(--Cool-Gray-100, #f3f4f6);
  color: var(--Secondary-800, #1f2937);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */

  & .tagDeleteButton {
    width: 22px;
    height: 22px;
    border-radius: 20px;
    border: none;
  }
}

.inputs.bedInput {
  border: 2px solid #f74747;
}

@media (max-width: 768px) {
  /* 테블릿 */
  .body {
    padding: 18px 24px 194px 24px;
  }
  .formBody {
    & .inputs {
    }
  }
}

@media (max-width: 480px) {
  /* 작은 폰 */
}
