/* =========================================
  1. 기본 스타일(모바일)
========================================= */
.headerWrapper {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 16px;
  background: #fff;
  border-bottom: 1px solid #dfdfdf;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.gnbNav {
  display: flex;
  gap: 8px;
  align-items: center;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 40px;
  padding: 6.305px 0 6.695px;
}

.logoImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navLinks {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  width: 135px;
}

.navLink {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  /* height: 70px; -> 피그마 상에는 고정값으로 되어있지만, 설정할 경우 pc, 태블릿에서 크기가 맞지않음 설정하지 않아도 문제없음 */
  padding: 25px 0;
  color: var(--secondary-600, #4b5563);
  text-align: center;
}

.active {
  color: var(--primary-100);
}

/* =========================================
  2. 태블릿 사이즈 (744px 이상)
========================================= */
@media (width >= 744px) {
  .headerWrapper {
    padding: 0 24px;
  }

  .headerContent {
    width: 100%;
  }

  .gnbNav {
    gap: 20px;
  }

  .logoWrapper {
    width: 153px;
    height: 51px;
    padding: 0;
  }

  .navLinks {
    gap: 0;
    width: auto;
  }

  .navLink {
    padding: 21px 15px;
  }
}

/* =========================================
  3. PC 사이즈 (1024px 이상)
========================================= */
@media (width >= 1024px) {
  .headerWrapper {
    padding: 0 200px;
  }

  .headerContent {
    max-width: 1920px;
  }

  .gnbNav {
    flex-shrink: 0;
    gap: 24px;
    width: 893px;
  }

  .logoWrapper {
    flex-shrink: 0;
    gap: 8.592px;
    align-items: flex-end;
    width: 153px;
    height: 51px;
    padding: 0;
  }

  .navLinks {
    gap: 0;
    align-items: center;
    justify-content: center;
    width: auto;
  }

  .navLink {
    /* height: 0; */
    padding: 21px 15px;
  }
}
