.navBody {
  height: 4.25rem;
  display: flex;
  justify-content: space-between;
  padding: 0 12.5rem;
  align-items: center;
}

.leftSide {
  display: flex;
  align-items: center;

  & .pandaLogo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3692ff;
    font-family: 'ROKAF Sans';
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 1.5rem;
  }

  & p {
    display: flex;
    align-items: center;
    color: var(--Secondary-600, #4b5563);
    text-align: center;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin: 0 15px;
  }
  & img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.53rem;
  }
}

.loginButton {
  display: flex;
  height: 2.625rem;
  padding: 0.75rem 1.43rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: var(--Primary-100, #3692ff);
  border: none;
  color: var(--Cool-Gray-100, #f3f4f6);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.625rem;
}

@media (max-width: 768px) {
  /* 테블릿 */
  .navBody {
    padding: 0 1.5rem;
  }
  .leftSide {
    & .pandaLogo {
      margin-right: 1.25rem;
    }
  }
}

@media (max-width: 480px) {
  /* 작은 폰 */
  .navBody {
    height: 70px;
    padding: 0 16px;
  }

  .leftSide {
    display: flex;
    align-items: center;

    & .pandaLogo {
      font-size: 20.202px;
      margin-right: 8px;
    }
    & p {
      margin: 0 8px;
    }
    & img {
      display: none;
    }
  }

  .loginButton {
    height: 42px;
    padding: 12px 23px;
  }
}
