.bestProductContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: aqua;
  width: min(100% - 1rem, 75rem);
}

.bestProductHeader {
  width: 100%;
  text-align: left;
}

.bestProductGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.5rem;
}
.bestProductGrid--desktop {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.bestProductGrid--tablet {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.bestProductGrid--mobile {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

/* PC */
/* @media (min-width: 1200px) {
  .bestProductGrid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
} */

/* Tablet */
/* @media (max-width: 1199px) {
  .bestProductGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
} */

/* mobile */
/* @media (max-width: 480px) {
  .bestProductGrid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
} */

.title {
  color: var(--Secondary-900, #111827);
  /* pretendard/xl-20px-bold */
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem; /* 160% */
  text-align: left;
}
