/* 베스트 상품 디자인 */
.section_title {
  font-size: var(--text-xl);
  font-weight: 700;
  color: var(--color-secondary-700);
}

.best_products {
  display: grid;
  grid-template-columns: repeat(4, 0.25fr);
  column-gap: 24px;

  margin-top: 16px;
}
