.footer {
  height: 160px;
  padding: 32px 200px;
  background-color: #111827;
}

.footerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footerCopyright {
  margin: 0;
  color: #9ca3af;
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  line-height: normal;
}

.footerLinks {
  display: flex;
  gap: 30px;
  color: #e5e7eb;
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  line-height: normal;
}

.footerLinks p {
  margin: 0;
}

.footerSocials {
  display: flex;
  gap: 12px;
}

.footerSocials img {
  display: block;
  width: 20px;
  height: 20px;
}