.header {
  display: flex;
  align-items: center;
  height: 68px;
  padding: 0 200px;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
}

.headerLogo {
  width: 153px;
  height: 51px;
  margin-right: 24px;
  flex-shrink: 0;
}

.headerLogo img {
  display: block;
  width: 100%;
  height: 100%;
}

.headerNav {
  display: flex;
  align-items: center;
}

.headerNav a {
  padding: 21px 15px;
  color: #4b5563;
  font-family: "Pretendard", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
}

.headerLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 42px;
  margin-left: auto;
  border-radius: 8px;
  background-color: #3692ff;
  color: #f3f4f6;
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-decoration: none;
}