.cardList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  row-gap: 2rem;
}
.best {
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}

/* 반응형 타블렛 사이즈 */
@media (max-width: 768px) {
  .cardList {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    /* justify-content: space-between; */
  }
  .best {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }
}

/* 반응형 모바일 사이즈 */
@media (max-width: 375px) {
  .cardList {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    row-gap: 2rem;
    align-content: start;
    justify-content: start;
  }
  .best {
    display: flex;
    flex-direction: column;
  }
}
