.footerBody {
  height: 10rem;
  background: var(--Secondary-900, #111827);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 12.5rem;
  flex-wrap: wrap;
}

.footerBody > div {
  display: flex;
  flex-direction: row;
  column-gap: 1.875rem;
}

.footerBody .footerIcons {
  column-gap: 0.75rem;
}

.footerBody p,
.footerBody a {
  display: flex;
  margin: 0%;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--Secondary-200, #e5e7eb);
  text-decoration: none;
}

.footerBody > p {
  color: var(--Secondary-400, #9ca3af);
}

@media (max-width: 768px) {
  /* 테블릿 */
  .footerBody {
  height: 10rem;
  background: var(--Secondary-900, #111827);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  padding: 2rem 24px;
}
}

@media (max-width: 480px) {
  /* 작은 폰 */
  .footerBody {
    column-gap: 0;
    row-gap: 8px;
  }

  .pfLink {
    order: 1;
    margin-right: 68px;
  }

  .footerIcons {
    order: 2;
  }

  .codeit {
    order: 3;
  }
}