.footer {
  background-color: var(--secondary-color-900);
  padding-right: 200px;
  padding-left: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1rem;
  font-weight: var(--for-weight-ex-small);
  padding-top: 2.5rem;
  padding-bottom: 7rem;
}
.footerCopyright {
  color: var(--secondary-color-400);
  font-size: 1rem;
  font-weight: var(--for-weight-ex-small);
  justify-self: start;
}
.footerLinks {
  font-size: 1rem;
  font-weight: var(--for-weight-ex-small);
  justify-self: center;

  & a {
    margin-right: 2rem;
    color: var(--secondary-color-200);
  }
}
.footerSocial {
  display: flex;
  color: #ffffff;
  justify-self: end;

  & li {
    width: 1.125rem;
    height: 1.125rem;
    margin-left: 0.5rem;
  }
}

/* 태블릿 사이즈 */
@media (max-width: 768px) {
  .footer {
    padding: 2.5rem 2rem;
    height: 9rem;

    & > .footerLinks {
      padding-left: 2.6rem;
    }
  }
}

/* 반응형 모바일 사이즈 */
@media (max-width: 375px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    justify-content: space-between;
    height: 100%;
    gap: 1.5rem;

    & .footerCopyright {
      order: 3;

      white-space: nowrap;
    }
    & .footerLinks {
      width: 10rem;
      white-space: nowrap;
      padding: 0;
    }

    & .footerSocial {
      width: 8rem;
    }
  }
}
