* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Pretendard';
}
body {
  background-color: #fcfcfc;
}
button {
  font-family: 'Pretendard';
}

/* 전체 섹션 배경 css 시작 */
/* section01 css 시작/ */
.section01 {
  /* border: 1px solid red; */
  height: 33.75rem;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #cfe5ff;
}
.section01 .wrap-section01 {
  /* border: 1px solid #000; */
  max-width: 69.375rem;
  width: 100%;
  height: 21.25rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.section01 .wrap-section01 .section01-img {
  background-image: url(../../assets/section01IMG.png);
  width: 46.625rem;
  height: 21.25rem;
  /* border: 1px solid #000; */
}
.section01 .wrap-section01 .goitem {
  /* border: 1px solid green; */
  width: 22.3125rem;
  height: 16.25rem;
  margin: 2.5rem 0.4375rem 2.5rem 0;
}
.section01 .wrap-section01 .goitem .content-01 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 7rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #374151;
  /* border: 1px solid #000; */
  margin-bottom: 2rem;
  /* text-align: left;
  vertical-align: middle; */
}
.goitem .content-01 p {
  white-space: nowrap;
}
.section01 .wrap-section01 .goitem button {
  border: none;
  background-color: #3692ff;
  width: 100%;
  height: 3.5rem;
  border-radius: 2.5rem;
}
.section01 .wrap-section01 .goitem button a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #f9fafb;
}
/* section01 css 끝 */
/* section02 css 시작 */
.section02 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45rem;
  background-color: #fff;
  /* border: 1px solid #000; */
}
.section02 .wrap-section02 {
  /* border: 1px solid #000; */
  background-color: #fcfcfc;
  max-width: 61.875rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.9375rem;
  margin: 0 auto;
}
.section02-img {
  background-image: url(../../assets/section02IMG.png);
  max-width: 100%;
  width: 36.75rem;
  height: 27.75rem;
  flex-shrink: 0;
  margin-right: 4rem;
}
.section02 .wrap-section02 .goitem02 {
  /* border: 1px solid #000; */
  max-width: 100%;
  width: 17.125rem;
  height: 14.875rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.section02 .wrap-section02 .goitem02 .hotbadge {
  height: 1.625rem;
  margin-bottom: 0.75rem;
  color: #3692ff;
  font-size: 1.125rem;
  font-weight: 700;
}
.section02 .wrap-section02 .goitem02 .content-02 {
  height: 7rem;
  margin-bottom: 1.5rem;
}
.section02 .wrap-section02 .goitem02 .content-02 p {
  color: #374151;
  font-size: 2.5rem;
  font-weight: 700;
}
.section02 .wrap-section02 .goitem02 p {
  color: #374151;
  font-size: 1.5rem;
  font-weight: 500;
}
/* section02 css 끝 */
/* section03 css 시작 */
.section03 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45rem;
  background-color: #fff;
  /* border: 1px solid #000; */
}
.section03 .wrap-section03 {
  /* border: 1px solid #000; */
  background-color: #fcfcfc;
  max-width: 61.875rem;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 0.6rem;
}
.section03-img {
  background-image: url(../../assets/section03IMG.png);
  max-width: 100%;
  width: 36.75rem;
  height: 27.75rem;
  flex-shrink: 0;
  margin-left: 4rem;
}
.section03 .wrap-section03 .goitem03 {
  /* border: 1px solid #000; */
  max-width: 100%;
  width: 20.9375rem;
  height: 14.875rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.section03 .wrap-section03 .goitem03 .search {
  height: 1.625rem;
  margin-bottom: 0.75rem;
  color: #3692ff;
  font-size: 1.125rem;
  font-weight: 700;
}
.section03 .wrap-section03 .goitem03 .content-03 {
  height: 7rem;
  margin-bottom: 1.5rem;
}
.section03 .wrap-section03 .goitem03 .content-03 p {
  color: #374151;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: right;
}
.section03 .wrap-section03 .goitem03 p {
  color: #374151;
  font-size: 1.5rem;
  font-weight: 500;
  white-space: nowrap;
}
/* section03 css 끝 */
/* section04 css 시작 */
.section04 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45rem;
  background-color: #fff;
  margin-bottom: 8.625rem;
  /* border: 1px solid #000; */
}
.section04 .wrap-section04 {
  /* border: 1px solid #000; */
  background-color: #fcfcfc;
  max-width: 61.875rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.section04-img {
  background-image: url(../../assets/section04IMG.png);
  max-width: 100%;
  width: 36.75rem;
  height: 27.75rem;
  flex-shrink: 0;
  margin-right: 4rem;
}
.section04 .wrap-section04 .goitem04 {
  /* border: 1px solid #000; */
  max-width: 100%;
  width: 19.8125rem;
  height: 14.875rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.section04 .wrap-section04 .goitem04 .register {
  height: 1.625rem;
  margin-bottom: 0.75rem;
  color: #3692ff;
  font-size: 1.125rem;
  font-weight: 700;
}
.section04 .wrap-section04 .goitem04 .content-04 {
  height: 7rem;
  margin-bottom: 1.5rem;
}
.section04 .wrap-section04 .goitem04 .content-04 p {
  color: #374151;
  font-size: 2.5rem;
  font-weight: 700;
}
.section04 .wrap-section04 .goitem04 p {
  color: #374151;
  font-size: 1.5rem;
  font-weight: 500;
  white-space: nowrap;
}
/* section04 css 끝 */
/* section05 시작 */
.section05 {
  /* border: 1px solid red; */
  height: 33.75rem;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #cfe5ff;
}
.section05 .wrap-section05 {
  /* border: 1px solid #000; */
  max-width: 69.375rem;
  width: 100%;
  height: 24.8125rem;
  display: flex;
  align-items: center;
}
.section05 .wrap-section05 .section05-img {
  background-image: url(../../assets/section05IMG.png);
  width: 46.625rem;
  height: 24.8125rem;
  /* border: 1px solid #000; */
}
.section05 .wrap-section05 .goitem05 {
  /* border: 1px solid green; */
  width: 18.4375rem;
  height: 10.75rem;
  margin-right: 4.3125rem;
}
.section05 .wrap-section05 .goitem05 .content-05 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 7rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #374151;
  /* border: 1px solid #000; */
}
.goitem05 .content-05 p {
  white-space: nowrap;
}
.section05 .wrap-section05 .goitem05 button {
  border: none;
  background-color: #3692ff;
  width: 100%;
  height: 3.5rem;
  border-radius: 2.5rem;
  font-size: 1.25rem;
  color: #f9fafb;
}

/* 테블릿 환경  */
@media (max-width: 1024px) {
  .section01 {
    height: 771px;
    align-items: center;
    margin-bottom: 24px;
  }
  .section02,
  .section03,
  .section04 {
    height: 708px;
    align-items: center;
    margin: 0 24px;
    margin-bottom: 24px;
  }
  .section05 {
    height: 927px;
    align-items: center;
  }
  .section01 .wrap-section01,
  .section05 .wrap-section05 {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .section01 .wrap-section01 .goitem {
    margin-top: 84px;
  }
  .section02 .wrap-section02,
  .section03 .wrap-section03,
  .section04 .wrap-section04 {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .section02 .wrap-section02 .section02-img,
  .section04 .wrap-section04 .section04-img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0;
  }
  .section03 .wrap-section03 .section03-img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 0;
  }
  .section02 .wrap-section02 .goitem02,
  .section03 .wrap-section03 .goitem03,
  .section04 .wrap-section04 .goitem04 {
    width: 100%;
  }
  .section05 {
    margin-top: 56px;
  }
  .section05 .wrap-section05 .goitem05 {
    margin-top: 201px;
  }
}
/* 모바일 환경  */
@media (max-width: 480px) {
  .section01 {
    height: 540px !important;
    align-items: center;
    margin-bottom: 24px;
  }
  .section02,
  .section03,
  .section04 {
    height: 415px;
    align-items: center;
    margin: 0 24px;
    margin-bottom: 40px;
  }
  .section05 {
    height: 540px;
    align-items: center;
  }
  .section01 .wrap-section01,
  .section05 .wrap-section05 {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .section01 .wrap-section01 .goitem {
    margin-top: 84px;
  }
  .section02 .wrap-section02,
  .section03 .wrap-section03,
  .section04 .wrap-section04 {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .section02 .wrap-section02 .section02-img,
  .section04 .wrap-section04 .section04-img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0;
  }
  .section03 .wrap-section03 .section03-img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 0;
  }
  .section02 .wrap-section02 .goitem02,
  .section03 .wrap-section03 .goitem03,
  .section04 .wrap-section04 .goitem04 {
    width: 100%;
  }
  .section05 {
    margin-top: 83px;
  }
  .section05 .wrap-section05 .goitem05 {
    margin-top: 201px;
  }
}
