:root {
  --color-primary-100: #3692ff;
  --color-primary-200: #1967d6;
  --color-primary-300: #1251aa;
  --color-secondary-900: #111827;
  --color-secondary-800: #1f2937;
  --color-secondary-700: #374151;
  --color-secondary-600: #4b5563;
  --color-secondary-500: #6b7280;
  --color-secondary-400: #9ca3af;
  --color-secondary-200: #e5e7eb;
  --color-secondary-100: #f3f4f6;
  --color-secondary-50: #f9fafb;
  --color-red: #f74747;
  --text-4xl: 2.5rem; /*40px*/
  --text-3xl: 2rem; /*32px*/
  --text-2xl: 1.5rem; /*24px*/
  --text-xl: 1.24rem; /*20px*/
  --text-2lg: 1.125rem; /*18px*/
  --text-lg: 1rem; /*16px*/
  --text-md: 0.875rem; /*14px*/
  --text-sm: 0.8125rem; /*13px*/
  --text-xs: 0.75rem; /*12px*/
}
