html {
  font-size: 62.5%;
}

body {
  color: #374151;
  word-break: keep-all;
  font-family: "Pretendard", sans-serif;
}

.gnb {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 7rem;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
}

.gnb-inner {
  width: calc(100% - 40rem);
  max-width: 152rem;
  height: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link img {
  width: 15.3rem;
}

/* 버튼 링크의 공통 속성 */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: #3692ff;
  color: #ffffff;
}

/* 공통 버튼 상태 */
.button:hover {
  background-color: #1967d6;
}

.button:focus-visible {
  background-color: #1251aa;
}

/* 로그인 버튼 전용 스타일 */
.login-button {
  padding: 1.15rem 2.3rem;
  border-radius: 0.8rem;

  font-size: 1.6rem;
  font-weight: 600;
}

/* 내부 콘텐츠 레퍼 */
.wrapper {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

footer {
  height: 16rem;
  background-color: #111827;
  color: #9ca3af;
}

.footer-inner {
  width: calc(100% - 40rem);
  max-width: 152rem;
  height: 100%;
  margin: 0 auto;
  padding-top: 3.2rem;

  display: flex;
  justify-content: space-between;
}

.footer-inner > p {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.footer-menu {
  display: flex;
  gap: 3rem;
  color: #e5e7eb;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.social-media {
  display: flex;
  gap: 1.2rem;
}

.social-media img {
  width: 2rem;
  height: 2rem;
}
