#hero {
  height: 540px;

  display: flex;
  align-items: center;

  background-color: #cfe5ff;
  background-image: url("../images/home/hero-image.png");
  background-repeat: no-repeat;
  background-position: 80% bottom;
  background-size: 55%;
}

#hero h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.02em;
}

.pill-button {
  padding: 16px 124px;
  border-radius: 999px;
  font-size: 20px;
  font-weight: 700;
}

/* 제목과 버튼 사이 간격 */
#hero .pill-button {
  margin-top: 32px;
}

#features {
  display: flex;
  flex-direction: column;
  gap: 138px;
  padding: 138px 0;
}

.feature {
  display: flex;
  align-items: center;
  gap: 64px;
}

.feature > img {
  width: 588px;
}

.feature-content {
  flex: 1;
}

.feature-tag {
  margin-bottom: 12px;
  color: #3692ff;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.feature h2 {
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.02em;
}

.feature-description {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.08;
}

.feature:nth-child(2) .feature-content {
  text-align: right;
}
