.footer {
  display: flex;
  /* width: 120rem; */
  height: 10rem;
  padding: 2rem 12.5rem;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  background: var(--Secondary-900, #111827);
  width: 100%;
  white-space: nowrap;
  margin: auto 0;
}
.footer--mobile {
  padding: 2rem 1rem;
  white-space: normal;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 100%;
}
.footerContainer--mobile {
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1.5rem;
}

.infoLeft {
  color: var(--Secondary-400, #9ca3af);
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.infoLeft--mobile {
  flex-basis: 100%;
  white-space: normal;
  justify-content: flex-start;
  text-align: left;
}

.infoMiddle {
  display: flex;
  align-items: flex-start;
  gap: 1.875rem;

  color: var(--Secondary-200, #e5e7eb);
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.infoRight {
  display: flex;
  width: 7.25rem;
  align-items: flex-start;
  gap: 0.75rem;
}

.infoMiddle,
.infoRight {
  white-space: nowrap;
}
